$secondary_color: #ff0000;

.alert-box {
  text-align: center;
  color: $secondary_color;
}

@media print {
  #navbar,
  #home,
  #about-me,
  #projects,
  #blog,
  #contact {
    display: none;
  }
  #resume {
    padding: 0px 0px;
    margin: 0px 0px;
    .print {
      display: none;
    }
    .container {
      padding: 0px 0px;
      margin: 0px 0px;
      width: 100%;
      .paper {
        min-height: 0vh;
        padding: 0px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        // name
        h3 {
          padding-top: 0px !important;
          margin-top: 0px !important;
          font-size: 30px;
        }
        // section headers
        h4 {
          font-size: 15px;
        }
        // skills and experience headers
        h5 {
          font-size: 12px;
        }
        .contact-info {
          font-size: 12px;
          padding: 0px 5px !important;
        }
        .contact-info:first-child {
          li {
            padding-left: 0px !important;
          }
        }
        .contact-info:last-child {
          li {
            padding-right: 0px !important;
          }
        }
        .summary {
          font-size: 12px;
        }
        .skills .skills-list .skill {
          margin-bottom: 0px;
          .skill-box {
            height: 6px;
            padding: 2px 2px;
          }
        }
        .experience {
          font-size: 12px;
        }
        .education {
          font-size: 12px;
        }
      }
      .MuiPaper-elevation4 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  @page {
    size: auto; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
  }

  html {
    background-color: #ffffff;
    margin: 0px; /* this affects the margin on the html before sending to printer */
  }

  body {
    margin: 0mm 10mm; /* margin you want for the content */
  }
}
