#resume {
  min-height: 100vh;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .line {
    display: inline-block;
  }
  .animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }
  a {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:focus {
    outline: none;
  }
  .resume-mobile-overlay {
    cursor: pointer;
    background-color: rgba(136, 96, 208, 0.9);
    color: white;
    position: absolute;
    top: 0px;
    width: 266px;
    height: 330px;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 2px 3px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: inset 2px 3px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow: inset 2px 3px 10px 0px rgba(50, 50, 50, 0.3);
  }
  .print {
    z-index: 999;
    .btn-overlay {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s;
    }
    .btn-overlay:hover {
      opacity: 0.3;
      transition: opacity 0.3s;
    }
  }
  .paper {
    padding: 50px 50px;
    margin-top: 50px;
    min-height: 100vh;
    h3 {
      text-align: center;
    }
    h4 {
      font-size: 1.7em;
    }
    h5 {
      font-size: 1em;
    }
    .contact-info {
      padding: 0px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .email:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        li {
          list-style: none;
          padding: 0px 7px;
        }
      }
    }
    .summary {
      padding: 0px 25px;
      line-height: 1.5em;
    }
    .skills {
      padding: 0px 15px;
      .skills-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .skill {
          width: 47%;
          margin-bottom: 5px;
          .skill-box {
            border: 1px solid black;
            height: 10px;
            padding: 2px 2px;
            .meter {
              height: 100%;
              position: relative;
              background: #f3efe6;
              overflow: hidden;
            }

            .meter span {
              display: block;
              height: 100%;
            }

            .progress {
              box-shadow: inset 0 0 0 99999px rgb(54, 54, 54);
              animation: progressBar 3s ease-in-out;
              animation-fill-mode: both;
            }

            @keyframes progressBar {
              0% {
                width: 0;
              }
              100% {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .experience {
      padding: 0px 15px;
      .job {
        padding: 0px 10px;
        ul {
          line-height: 1.5em;
        }
      }
    }
    .education {
      padding: 0px 15px;
      .school {
        padding: 0px 10px;
        ul {
          line-height: 1.5em;
        }
      }
    }
  }
}
.resume-image {
  width: 165px;
  padding: 50px 50px;
  border-radius: 15px;
  background-color: grey;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  .contact-info {
    justify-content: space-around !important;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 900px) {
  .skills .skills-list .skill {
    width: 100% !important;
  }
}
