$primary_color: #5680e9;
a {
  color: white;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}
#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary_color;
  min-height: 100vh;
  color: white;
}

.about-me-graphics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  p {
    margin-top: 0px;
    margin-bottom: 35px;
  }
  .row {
    display: flex;
    flex-direction: row;
    > * {
      padding: 0px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50px;
    }
  }
}

.about-me-text {
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 25px;
}

.about-me-header {
  padding: 0px 10px;
  text-align: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-me-body {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  max-width: 970px;
  p {
    margin-bottom: 10px;
  }
}

.about-me-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  .iconBtn {
    color: white;
    font-size: 30px;
    padding: 6px;
    margin: 0px 3px;
  }
  .MuiIconButton-edgeStart {
    margin-left: -9px;
  }
}

.about-me-profilePic {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  img {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 575px) {
  .row {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 700px) {
  .full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #about-me {
    justify-content: flex-start;
    padding-top: 35px;
  }
  .about-me-text {
    flex-direction: column;
  }
  .about-me-header {
    align-items: center;
    margin-bottom: 15px;
  }
  .about-me-body {
    padding: 0 20px;
    text-align: left;
  }
  .about-me-contact {
    align-items: flex-end;
    .MuiIconButton-edgeStart {
      margin-left: 0px;
    }
    .MuiIconButton-edgeEnd {
      margin-right: -9px;
    }
  }
}
