$primary_color: #5680e9;

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary_color;
  height: 100vh;
  color: white;
  h3 {
    margin-bottom: 25px;
  }
}

.contact-text {
  p {
    font-size: 20px;
    padding: 5px;
  }
  .iconBtn {
    color: white;
    font-size: 40px;
  }
}

@media only screen and (max-width: 700px) {
  #contact,
  .contact-text {
    text-align: center;
  }
  .breakpoint {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: underline;
  }
}
