#contact {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    form > * {
        margin: 5px 5px;
    }
}