@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

#login {
  margin: 0 auto;
  padding-top: 15px;
}

@media screen and (min-width: 500px) {
  #login {
    width: 90%;
    padding-top: 30px;
  }
}

@media screen and (min-width: 600px) {
  #login {
    width: 70%;
    padding-top: 40px;
  }
}

@media screen and (min-width: 800px) {
  #login {
    width: 60%;
    padding-top: 50px;
  }
}

@media screen and (min-width: 900px) {
  #login {
    width: 50%;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1000px) {
  #login {
    width: 40%;
    padding-top: 70px;
  }
}
