$primary_color: #5680e9;

#projects {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  background: linear-gradient(to bottom, $primary_color 35%, white 35%);
  min-height: 100vh;
}

#paper {
  padding: 15px 15px 50px 15px;
  max-width: 925px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 275px;
  height: 275px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 3px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 3px 10px 0px rgba(50, 50, 50, 0.3);
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 265px;
    height: 265px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    .buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 15px;
      button {
        width: 75px;
      }
    }
    h6 {
      margin-top: 15px;
    }
    p {
      color: white;
      text-align: center;
    }
    a {
      color: white;
    }
  }
  img {
    width: 265px;
    height: 265px;
    border-radius: 15px;
    opacity: 1;
  }
}

.card:hover {
  .overlay {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.mobile-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 5px;
  width: 265px;
  height: 265px;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h6 {
    margin-top: 15px;
  }
  p {
    color: white;
    text-align: center;
  }
  a {
    color: white;
  }
  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    button {
      width: 75px;
    }
  }
}

#projects .stepper {
  background-color: white;
  width: 800px;
}

#projects .description {
  width: 800px;
  height: 90px;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(136, 96, 208, 0.5);
  cursor: pointer;
}

.slideshow-img-container {
  position: relative;
  width: 800px;
  height: 500px;
}
.slideshow-img-container:hover .img-overlay {
  opacity: 1;
  transition: 0.3s ease;
}
.zoom-in {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slideshow-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .slideshow-img-container {
    width: 500px;
    height: 275px;
  }
  #projects .stepper {
    width: 500px;
  }

  #projects .description {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .slideshow-img-container {
    width: 275px;
    height: 225px;
  }
  #projects .stepper {
    width: 225px;
  }

  #projects .description {
    width: 265px;
  }
}

.img-fullsize {
  width: 100%;
  height: 100%;
}
